#emoji_selectmenu {
    padding:10px;
    margin: 5px 0;
    background-color: rgba(220, 220, 220, .4);
}

.ui.segment img {
    width: 40px;
}

div.ui.show-emoji,
.show-emoji {
    display:flex;
}

div.ui.hide-emoji,
.hide-emoji {
    display: none;
}

.ui.toggle {
    margin-top: 10px;
}

div.ui.wrapper {
    padding-left:1px;
}

div.ui.border-wrapper {
    border-top: none !important;
}