.emoji_selectmenu {
    padding:10px;
    padding-bottom: 0;
    margin: 0;
}

.ui.segment img {
    width: 40px;
}

div.ui.show-emoji,
.show-emoji {
    display:flex;
}

div.ui.hide-emoji,
.hide-emoji {
    display: none;
}

.ui.toggle {
    margin-top: 10px;
}

div.ui.wrapper {
    padding-left:1px;
}

div.ui.border-wrapper {
    border-top: none !important;
}

.gh-emoji-scrollable {
    height: 185px;
    overflow: scroll;
}

.emoji-item {
    height: 26px;
    cursor: pointer;
}

/* emoji modal */
.gh-emoji-modal {
    position: relative;
    width: 660px;
    margin-top: 4px;
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 12px;
    color: #666;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid rgba(200, 200, 200, 0.7);
    border-radius: 3px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);    
}
.gh-emoji-header {
    padding: 8px 10px;
    line-height: 16px;
    background: #f5f5f5;
    border-bottom: 1px solid rgba(200,200,200,0.4);
    border-top: 1px solid rgba(200,200,200,0.4);
}
.gh-emoji-header-content {
    font-weight: bold;
    color: #333;
    text-shadow: 0 1px 0 #fff;    
}
.gh-emoji-contents {
}
.gh-emoji-wrapper {
    position: absolute;
    z-index: 30;
    top: -330px;
    right: 0;    
}
.gh-emoji-modal-hide {
    display: none;
}
.gh-emoji-modal-header-close {
    float: right;
    cursor: pointer;
    fill: rgb(102, 102, 102);
    display: inline-block;
    vertical-align: text-top;    
}
.ui.segment[class*="bottom attached"] {
    margin-bottom: 0;
}
/* emoji modal */